h1{
color:#55883b;
background-color:#e6f0dc;
font-size:5em;
text-align:center;
font-family:Arial;
}

h2{
color:#e6f0dc;
background-color:#55883b;
font-size:2.5em;
text-align:center;
font-family:Arial;
}

h3{
color:#9a6735;
background-color:#ffffff;
font-size:2em;
text-align:center;
font-family:Arial;
}

h4{
color:#9a6735;
background-color:#ffffff;
font-size:1.5em;
text-align:center;
font-family:Arial;
}


table, th, td {
background-color:#ffffff;
align:center;
color:#9a6735;
text-align:center;
font-family:Arial;
}


img{
width:200px;
}

#head{
text-align:center;
background-color:#e6f0dc;
color:#9a6735;
font-size:2em;
}

#lessonss{
width:400px;
}

#reflect{
text-align:justify;
font-size:1.3em;
background-color:#e6f0dc;
color:#9a6735;
}