h1{
color:#0c911e;
background-color:#ffffff;
font-size:5em;
text-align:center;
font-family:Arial;
}

h2{
color:#ffffff;
background-color:#3be38c;
font-size:2.5em;
text-align:center;
font-family:Arial;
}

h3{
color:#3be38c;
background-color:#ffffff;
font-size:2em;
text-align:center;
font-family:Arial;
}

table, th, td {
background-color:#ffffff;
align:center;
text-align:center;
font-family:Arial;
}


img{
width:200px;
}